<!DOCTYPE html>

{% load staticfiles %} <!--New line-->

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        
        <div>
            here is the about page <br />
            <em>{{ author }}</em><br />
        </div>

        <div>
            <a href="/rango/">Index</a>
        </div>
        
        <div>
            <img src="{% static 'images/cat.jpg' %}" alt="Picture called cat"/> <!--New line-->
        </div>
    </body>

</html>